.submenu-detail-title {
	font-size:14px;
	padding-left:8px;
	border-bottom:solid 1px #333;
	margin-top:14px;
	margin-bottom: 5px;
	color:#ff3c3c;
	/* background:url(../images/icon-global.png) 0 -1032px no-repeat */
}